<h1>Tome Page</h1>

<br />

<button>
  Create Post
</button>

<button>
  Create PartyFinder
</button>

<button>
  Create PartyBoard
</button>

<button>
  Create GuildRecruitment (eventually)
</button>

<br />
<br />

<h1>My Posts</h1>

<br />

<% @posts.each do |post| %>
  <%= render 'posts/show', post: post %>
<% end %>

<%= render 'posts/new' %>


