@import 'bootstrap';
@import 'global';
@import 'warcraft_colors';
@import 'devise';

/* Eliminates box model styling quirks */
*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  font-size: 14px;
}

/* Application Styles */

#main-content-wrapper {
  padding-top: 10px;
  background: white;
  min-height: 100vh;
}

.banner-img {
  width: 250px;
  border-radius: 50px;
  display: block;
  margin: 10px auto;
}

