@import 'bootstrap';
@import 'global';
@import 'devise';
@import 'navbar';
@import 'characters';
@import 'posts';

/* Eliminates box model styling quirks */
*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  font-size: 14px;
}

/* Application Styles */

#main-content-wrapper {
  padding-top: 10px;
  min-height: 100vh;

  background: black;
  color: $ivory;
}

.banner-img {
  width: 250px;
  border-radius: 50px;
  display: block;
  margin: 10px auto;
}

.input-field {
  padding: $input-field-padding !important;
  border: 1px groove $gold-orange;
  outline: none;

  background: #212529;
  color: $ivory;
}

a {
  color: $gold-orange;
}

a:hover {
  color: orange;
}

hr {
  border-bottom: 1px solid $ivory;
}
