/*** Devise ***/


.devise-link-container {
  margin-top: 10px;
}

.login-fields {
  width: 50%;
  margin: 0 auto;

  input {
    width: 100%;
    padding: $input-field-padding;
  }
}

.editable-settings-container {
  position: relative;

  .row:nth-child(1) {
    background: $shaded-white;
  }

  .row {
    padding: 10px;
  }

  .back-btn {
    position: absolute;
    bottom: 0;
  }
}
