/*** Core Style Variables ***/
$dk-red:          #c41f3b;
$dh-magenta:      #a330c9;
$druid-orange:    #ff7d0a;
$hunter-green:    #abd473;
$mage-blue:       #40c7eb;
$monk-green:      #00ff96;
$paladin-pink:    #f58cba;
$priest-white:    #fff;
$rogue-yellow:    #fff569;
$shaman-blue:     #0070DE;
$warlock-purple:  #8787ed;
$warrior-tan:     #c79c6e;

$input-field-padding: 5px 10px;


/*** Global Styles ***/

.clear {
  clear: both;
}

.flex-float-right {
  margin-left: auto;
}

.inline {
  display: inline-block;
}

.no-border {
  border: none;
}

.no-border-radius {
  border-radius: 0 !important;
}

.pos-fl {
  float: left;
}

.pos-fr {
  float: right;
}

.text-center {
  text-align: center;
}

.w40 {
  width: 40%;
}

.w70 {
  width: 70%;
}
