/*** Warcraft Colors ***/

.dk-red {
  color: #c41f3b !important;
}

.dh-magenta {
  color: #a330c9 !important;
}

.druid-orange {
  color: #ff7d0a !important;
}

.hunter-green {
  color: #abd473 !important;
}

.mage-blue {
  color: #40c7eb !important;
}

.monk-green {
  color: #00ff96 !important;
}

.paladin-pink {
  color: #f58cba !important;
}

.priest-white {
  color: #fff !important;
}

.rogue-yellow {
  color: #fff569 !important;
}

.shaman-blue {
  color: #0070DE !important;
}

.warlock-purple {
  color: #8787ed !important;
}

.warrior-tan {
  color: #c79c6e !important;
}
